<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

    <link rel="stylesheet" href="../public/css/jotform.css">
</head>


<body>
    <!-- Navbar begin-->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #0E141A;">
            <a class="navbar-brand" href="/">
                <a class="navbar-brand js-scroll-trigger" href="/"><img src="../public/images/AutomatiX-light.png"
                        alt="" style="max-width:120px; margin-top: -7px; margin-right: 7px;"></a>
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon">
                    <i class="fas fa-bars" style="color:#fff; font-size:28px;"></i>
                </span></button>

            <div class="collapse navbar-collapse mobile-small" id="navbarResponsive">
                <%-include('./partials/messages');%>
                <ul class="navbar-nav ml-auto my-2 my-lg-0 float-left">
                    </a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger center-nav" href="/portal">Portal</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger center-nav" href="/faq">FAQ</a></li>

                    <li class="nav-item"><a class="nav-link js-scroll-trigger center-nav"
                            href="/users/logout">Logout</a></li>

                </ul>
            </div>
        </nav>
    </header>
    <!-- Navbar end-->
    <script type="text/javascript" src="https://form.jotform.com/jsform/202242056063039?uid=<%=account_id%>"></script>

</body>