<!DOCTYPE html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name=" description" content="AutomatiX Portal" />
    <meta name="author" content="Idan, Daniel, Michal" />
    <link rel="shortcut icon" href="../public/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../public/css/layout.css">
    <title>AutomatiX Portal</title>
</head>

<body>
    <div class="container-ejs">
        <div class="main">
            <%- body %>
        </div>
    </div>

    <div class="footer">
        <small>
            <p class="align-items-center justify-content-center text-center">Copyright © 2020 <br />
                - Levian Idan & Imas Michal & Toledano Daniel -</p>
        </small>
    </div>

</body>


</html>